* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 80%;
  height: auto;
  margin-bottom: 4vh;
}

.key {
  position: absolute;
  top: 2px;
  right: 10px;
  opacity: 0.6;
}
.key:hover {
  cursor: pointer;
  opacity: 1;
}

input {
  padding: 5px;
  border: 2px solid #909090;
}

.box-modal {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
}

.box-a {
  padding: 1px 5px 1px 5px;
  width: 45px;
  font-size: 12px;
  border-radius: 10px;
  background-color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#modal-validacao {
  margin-top: 80px;
}
