* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  background-color: rgb(219, 255, 255);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 40%;
  height: 500px;
  margin-bottom: 4vh;
  background-color: rgb(0, 180, 180);
  border-radius: 10px;
}

.box-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key {
  position: absolute;
  top: 2px;
  right: 10px;
  opacity: 0.6;
}

.key:hover {
  cursor: pointer;
  opacity: 1;
}

input {
  padding: 5px;
  border: 2px solid #909090;
  width: 60%;
  border-radius: 10px;
}

#senha {
  width: 100%;
  border-radius: 10px;
}

.box-modal {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  padding: 10px;
}

.box-a {
  padding: 1px 5px 1px 5px;
  width: 45px;
  font-size: 12px;
  border-radius: 10px;
  background-color: aliceblue;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

button {
  margin-top: 40px;
  padding: 5px 20px 5px 20px;
}

#modal-validacao {
  margin-top: 80px;
  border-radius: 10px;
}

.icone {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 12px;
  cursor: pointer;
}

a {
  color: black;
}
